<%- include('partials/header')  %> 

<h1>De som van alle getallen is:</h1>
<h1 id="Gem"><%- gem %> </h1>
aantal getallen: <%- data.length %> 
<form action="/addGetal" method="POST">
    getal: <input type="text" name="getal" required>
    <br>
    <input type="submit" value="Toevoegen">
</form>
<div id="logs">
    <h1>Logs</h1>
    <div id="table-scroll">
        <table>
            <tbody>
                <th>Toegevoegd getal</th>
                <th>Datum</th>
                <% for (let log of data){ %> 
                <tr>
                     <td><%- log.getal %> </td>
                     <td><%- log.datum %> </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>

<%- include('partials/footer')  %> 