<%- include('partials/header')  %> 

<div id="logs">
    <h1>Logs</h1>
    <div id="table-scroll">
        <p>klik op de gebruikersnaam om de persoonelijke logs te bekijken</p>
        <table>
            <tbody>
                <th>Toegevoegd door</th>
                <th>Getal</th>
                <th>Datum</th>
                <% for (let log of data){ %> 
                <tr>
                    <td><a href="/logs/<%- log.naam %>"><%- log.naam %></a></td>
                     <td><%- log.getal %></td>
                     <td><%- log.datum %></td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>
<p class="druk-hier">Klik <a href="/">hier</a> om terug naar de home pagina te gaan</p>

<%- include('partials/footer')  %> 