<%- include('partials/header')  %> 
<% let som = 0%> 
<% for (let log of userlogs){ %> 
    <% som+=log.getal  %> 
<% } %>
<p class="druk-hier">som van alle getallen die <%- user %> heeft ingegven is <%- som %> </p>
<div id="logs">
    <h1>Logs van <%- user %> </h1> 
    <div id="table-scroll">
        <table>
            <tbody>
                <th>Getal</th>
                <th>Datum</th>
                <% for (let log of userlogs){ %> 
                <tr>
                     <td><%- log.getal %> </td>
                     <td><%- log.datum %> </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>
<p class="druk-hier">Klik <a href="/">hier</a> om terug naar de home pagina te gaan</p>
<p class="druk-hier">Klik <a href="/logs">hier</a> om terug naar de logs te gaan</p>

<%- include('partials/footer')  %> 